@import "tailwindcss";

/* CSS HEX */
/* --satin-sheen-gold: #CF9A39ff;
--saffron: #F3C255ff;
--naples-yellow: #F3D162ff;
--naples-yellow-2: #F8E06Eff;
--hunyadi-yellow: #E8B248ff;
--hunyadi-yellow-2: #DAA43Eff;
--dark-goldenrod: #C58E30ff;
--satin-sheen-gold-2: #D3A13Eff;
--dark-goldenrod-2: #BC862Cff;
--dark-goldenrod-3: #C49033ff; */
