@import "tailwindcss";

.gold-striped-lighter {
  background: linear-gradient(
    90deg,
    #dfb359 0%,
    /* Lighter */ #f7d57a 10%,
    /* Lighter */ #f7e187 20%,
    /* Lighter */ #fde793 30%,
    /* Lighter */ #edc36d 40%,
    /* Lighter */ #e4b863 50%,
    /* Lighter */ #d5a355 60%,
    /* Lighter */ #e3b964 70%,
    /* Lighter */ #ce9b4a 80%,
    /* Lighter */ #d4a858 90%,
    /* Lighter */ #dfb359 100% /* Lighter */
  );
  background-size: 200% 100%;
}

.gold-striped {
  background: linear-gradient(
    90deg,
    #cf9a39 0%,
    #f3c255 10%,
    #f3d162 20%,
    #f8e06e 30%,
    #e8b248 40%,
    #daa43e 50%,
    #c58e30 60%,
    #d3a13e 70%,
    #bc862c 80%,
    #c49033 90%,
    #cf9a39 100%
  );
  background-size: 200% 100%; /* Adjust for stripe width */
}
