@import "tailwindcss";

/* CSS HEX */
/* --satin-sheen-gold: #CF9A39ff;
--saffron: #F3C255ff;
--naples-yellow: #F3D162ff;
--naples-yellow-2: #F8E06Eff;
--hunyadi-yellow: #E8B248ff;
--hunyadi-yellow-2: #DAA43Eff;
--dark-goldenrod: #C58E30ff;
--satin-sheen-gold-2: #D3A13Eff;
--dark-goldenrod-2: #BC862Cff;
--dark-goldenrod-3: #C49033ff; */

.gold-striped {
  background: linear-gradient(
    90deg,
    #cf9a39 0%,
    #f3c255 10%,
    #f3d162 20%,
    #f8e06e 30%,
    #e8b248 40%,
    #daa43e 50%,
    #c58e30 60%,
    #d3a13e 70%,
    #bc862c 80%,
    #c49033 90%,
    #cf9a39 100%
  );
  background-size: 200% 100%; /* Adjust for stripe width */
}

.gold-striped-warmer {
  background: linear-gradient(
    90deg,
    hsl(32, 65%, 51%) 0%,
    /* Warmer */ hsl(32, 88%, 65%) 10%,
    /* Warmer */ hsl(34, 89%, 67%) 20%,
    /* Warmer */ hsl(36, 97%, 70%) 30%,
    /* Warmer */ hsl(29, 82%, 60%) 40%,
    /* Warmer */ hsl(27, 78%, 55%) 50%,
    /* Warmer */ hsl(25, 72%, 48%) 60%,
    /* Warmer */ hsl(27, 77%, 54%) 70%,
    /* Warmer */ hsl(23, 74%, 45%) 80%,
    /* Warmer */ hsl(25, 69%, 49%) 90%,
    /* Warmer */ hsl(32, 65%, 51%) 100% /* Warmer */
  );
  background-size: 200% 100%;
}

.gold-striped-lighter {
  background: linear-gradient(
    90deg,
    #dfb359 0%,
    /* Lighter */ #f7d57a 10%,
    /* Lighter */ #f7e187 20%,
    /* Lighter */ #fde793 30%,
    /* Lighter */ #edc36d 40%,
    /* Lighter */ #e4b863 50%,
    /* Lighter */ #d5a355 60%,
    /* Lighter */ #e3b964 70%,
    /* Lighter */ #ce9b4a 80%,
    /* Lighter */ #d4a858 90%,
    /* Lighter */ #dfb359 100% /* Lighter */
  );
  background-size: 200% 100%;
}

.gold-striped-colder {
  background: linear-gradient(
    90deg,
    hsl(52, 45%, 51%) 0%,
    /* Colder */ hsl(52, 68%, 65%) 10%,
    /* Colder */ hsl(54, 69%, 67%) 20%,
    /* Colder */ hsl(56, 77%, 70%) 30%,
    /* Colder */ hsl(49, 62%, 60%) 40%,
    /* Colder */ hsl(47, 58%, 55%) 50%,
    /* Colder */ hsl(45, 52%, 48%) 60%,
    /* Colder */ hsl(47, 57%, 54%) 70%,
    /* Colder */ hsl(43, 54%, 45%) 80%,
    /* Colder */ hsl(45, 49%, 49%) 90%,
    /* Colder */ hsl(52, 45%, 51%) 100% /* Colder */
  );
  background-size: 200% 100%;
}
